NODE_ENV=development
PORT=8000
BASE_URL=https://example.app

DB_URI=mongodb://

# JWT OPTIONS
JWT_SECRET=
JWT_EXPIRES_IN=90d
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASSWORD=

# STRIPE KEYS
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=